
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
</head>
<body>
    <div>
        <h3>Search</h3>
        <form method="post" action="">
            <h3 class="error">@ViewBag.Message</h3>
            <table>
                <tr>
                    <td><p>Start point </p></td>
                    <td><input type="text" name="searchRequset" /> </td>
                </tr>
                <tr>
             <!--       <td><p>Start point 2</p></td>
                    <td>
                        <input type="text" name="TravelPoint2" />
                    </td>
                </tr>-->
                <tr><td><input type="submit" value="Send" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>
